#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

/* .logo { */
/*   height: 6em; */
/*   padding: 1.5em; */
/*   will-change: filter; */
/*   transition: filter 300ms; */
/* } */
/* .logo:hover { */
/*   filter: drop-shadow(0 0 2em #646cffaa); */
/* } */
/* .logo.react:hover { */
/*   filter: drop-shadow(0 0 2em #61dafbaa); */
/* } */

/* @keyframes logo-spin { */
/*   from { */
/*     transform: rotate(0deg); */
/*   } */
/*   to { */
/*     transform: rotate(360deg); */
/*   } */
/* } */

/* @media (prefers-reduced-motion: no-preference) { */
/*   a:nth-of-type(2) .logo { */
/*     animation: logo-spin infinite 20s linear; */
/*   } */
/* } */

.card {
    padding: 1em;
}

/* changes starts from here */
.controls {
    padding: 1em;
    margin: auto;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.matra.active {
    background-color: lightgray;
}

/* taal */
#taal {
    border-bottom: 1px solid black;
}

#taal .angas, #taal .anga, #taal .beats {
    display: flex;
    flex-direction: row;
}

#taal .beat {
    height: 10px;
}

#taal .beat.active {
    background-color: darkgray;
}

#taal .matra.active.sam {
    background-color: lightsalmon;
}

#taal .matra.active.tali {
    background-color: lightgreen;
}

#taal .matra.active.khali {
    background-color: lightblue;
}

/* composition */
#composition .line {
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted black;
}

#composition .matra input {
    width: 80%;
    text-align: center;
}

#composition .matra input:read-only {
    width: 80%;
    border: none;
    outline: none;
}

#composition .matra.active input:read-only {
    background-color: lightgray;
}

#composition .matra .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    height: 20px;
}

#composition .matra .buttons button {
    width: 20px;
    text-align: center;
    padding: 0;
}

/* #composition input { */
/*     display: none; */
/* } */

/* #composition.editing input { */
/*     display: unset; */
/* } */

#composition div.matraitem {
    display: unset;
}

#composition.editing div.matraitem {
    display: none;
}

#edit-buttons {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
}

#edit-buttons button {
    width: 90px;
}
