#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* changes starts from here */
.composition .row {
    display: flex;
    flex-direction: row;
}

.composition .row h2 {
    width: 125px;
    text-align: right;
    padding-right: 8px;
}

#taal {
    border-bottom: 1px solid black;
}

#taal .composition, #taal .section, #taal .subsection {
    display: flex;
    flex-direction: row;
}

#composition .row h2 {
    margin: 0;
    padding-top: 8px;
    border-bottom: 1px dotted black;
}

#composition .subsection.line {
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted black;
}

.matra {
    width: 60px;
}

.matra input {
    width: 50px;
}

.matra.active {
    background-color: lightgray;
}

.matra.active.sam {
    background-color: lightsalmon;
}

.matra.active.tali {
    background-color: lightgreen;
}

.matra.active.khali {
    background-color: lightblue;
}

#taal input {
    display: none;
}

#composition .symbol, #composition .number {
    display: none;
}

#composition input {
    display: none;
}

#composition.editing input {
    display: unset;
}

#composition div.matraitem {
    display: unset;
}

#composition.editing div.matraitem {
    display: none;
}
