#browser {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

#browser .browser {
    position: relative;
    margin: auto;
    top: 20%;
    width: 500px;
    height: 300px;
    background-color: white;
    padding: 2rem;
}

#browser .btn-close {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: lightcoral;
}
